* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media screen and (min-width: 320px) {
  .header {
    background: #6f69acef;
  }
}

@media screen and (min-width: 768px) {
  .header {
    background: #6f69ac52;
  }
}

@media screen and (min-width: 1200px) {
  .header {
    background: #6f69ac52;
  }
}

.navbar-brand {
  font-family: "Allura", cursive;
  -webkit-transition: .5s;
  transition: .5s;
}

.navbar-toggler {
  background: #6F69AC;
  -webkit-transition: .5s;
  transition: .5s;
}

.navbar-nav {
  font-size: 1.7em;
  -webkit-transition: .5s;
  transition: .5s;
}

.navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-brand:hover {
  color: #ffeba1c7 !important;
}

.navbar-toggler:hover {
  background: #8a85bd;
}

.heroImgIndex {
  color: #333;
}

.heroImgIndex__img1 {
  background-image: url(../imagenes/hero/Index.png);
  background-size: cover;
  background-attachment: fixed;
  color: rgba(240, 255, 255, 0.61);
  font-family: "Open Sans", sans-serif;
}

@media screen and (min-width: 320px) {
  .heroImgIndex__img1 {
    height: 45vh;
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .heroImgIndex__img1 {
    height: 70vh;
    text-align: center;
  }
}

@media screen and (min-width: 1200px) {
  .heroImgIndex__img1 {
    height: 100vh;
    text-align: start;
  }
}

.heroImgIndex__img1--subt {
  overflow: hidden;
  -webkit-animation: slide-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-left {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-30px);
    transform: translateX(-30px);
  }
}

@keyframes slide-left {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-30px);
    transform: translateX(-30px);
  }
}

.heroImgGaleria {
  color: #333;
}

.heroImgGaleria__img1 {
  background-image: url(../imagenes/hero/Galeria.png);
  background-size: cover;
  background-attachment: fixed;
  color: rgba(240, 255, 255, 0.61);
  font-family: "Open Sans", sans-serif;
}

@media screen and (min-width: 320px) {
  .heroImgGaleria__img1 {
    height: 45vh;
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .heroImgGaleria__img1 {
    height: 70vh;
    text-align: center;
  }
}

@media screen and (min-width: 1200px) {
  .heroImgGaleria__img1 {
    height: 100vh;
    text-align: start;
  }
}

.heroImgGaleria__img1--subt {
  overflow: hidden;
  -webkit-animation: slide-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-left {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-30px);
    transform: translateX(-30px);
  }
}

@keyframes slide-left {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-30px);
    transform: translateX(-30px);
  }
}

.heroImgCursos {
  color: #333;
}

.heroImgCursos__img1 {
  background-image: url(../imagenes/hero/Cursos.png);
  background-size: cover;
  background-attachment: fixed;
  color: rgba(240, 255, 255, 0.61);
  font-family: "Open Sans", sans-serif;
}

@media screen and (min-width: 320px) {
  .heroImgCursos__img1 {
    height: 45vh;
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .heroImgCursos__img1 {
    height: 70vh;
    text-align: center;
  }
}

@media screen and (min-width: 1200px) {
  .heroImgCursos__img1 {
    height: 100vh;
    text-align: start;
  }
}

.heroImgCursos__img1--subt {
  overflow: hidden;
  -webkit-animation: slide-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-left {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-30px);
    transform: translateX(-30px);
  }
}

@keyframes slide-left {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-30px);
    transform: translateX(-30px);
  }
}

.heroImgRecom {
  color: #333;
}

.heroImgRecom__img1 {
  background-image: url(../imagenes/hero/Recom.png);
  background-size: cover;
  background-attachment: fixed;
  color: rgba(240, 255, 255, 0.61);
  font-family: "Open Sans", sans-serif;
}

@media screen and (min-width: 320px) {
  .heroImgRecom__img1 {
    height: 45vh;
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .heroImgRecom__img1 {
    height: 70vh;
    text-align: center;
  }
}

@media screen and (min-width: 1200px) {
  .heroImgRecom__img1 {
    height: 100vh;
    text-align: start;
  }
}

.heroImgRecom__img1--subt {
  overflow: hidden;
  -webkit-animation: slide-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-left {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-30px);
    transform: translateX(-30px);
  }
}

@keyframes slide-left {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-30px);
    transform: translateX(-30px);
  }
}

.body {
  font-family: "Open Sans", sans-serif;
  background-image: url(../imagenes/white_wall.png);
  color: #333;
}

.body .header {
  font-size: 62.5%;
}

.bodyCurriculum {
  background-image: url(../imagenes/white_wall.png);
  font-family: "Open Sans", sans-serif;
  color: #333;
}

.bodyCurriculum .header {
  font-size: 62.5%;
}

.body404 {
  background-color: #333;
  background-image: url(../imagenes/roto.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
}

.body {
  overflow-x: hidden !important;
}

.firtSection {
  color: #333;
}

.firtSection__p--text {
  line-height: 1.8em;
}

@media screen and (min-width: 320px) {
  .firtSection__p--text {
    font-size: 1.2em;
  }
}

@media screen and (min-width: 768px) {
  .firtSection__p--text {
    font-size: 1.2em;
  }
}

@media screen and (min-width: 1200px) {
  .firtSection__p--text {
    font-size: 0.9em;
  }
}

.imgFru {
  -webkit-box-shadow: 1px 1px 10px #000;
          box-shadow: 1px 1px 10px #000;
  border: 5px solid #333;
}

@media screen and (min-width: 320px) {
  .recommend {
    margin-top: 2em;
    margin-bottom: 2em;
  }
}

@media screen and (min-width: 768px) {
  .recommend {
    margin-top: 2em;
    margin-bottom: 2em;
  }
}

@media screen and (min-width: 1200px) {
  .recommend {
    margin-top: 7em;
    margin-bottom: 7em;
  }
}

.recoText {
  line-height: 1.8em;
  padding: 1em;
}

@media screen and (min-width: 320px) {
  .recoText {
    font-size: 1.2em;
  }
}

@media screen and (min-width: 768px) {
  .recoText {
    font-size: 1.2em;
  }
}

@media screen and (min-width: 1200px) {
  .recoText {
    font-size: 0.9em;
    margin: 3em;
  }
}

.recoGalle__img {
  height: auto;
  -webkit-box-shadow: 1px 1px 10px #333;
          box-shadow: 1px 1px 10px #333;
}

@media screen and (min-width: 320px) {
  .recoGalle__img {
    max-width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .recoGalle__img {
    max-width: 100%;
  }
}

@media screen and (min-width: 1200px) {
  .recoGalle__img {
    width: 60vw;
  }
}

.imgReco__expo > img {
  max-width: 100%;
  height: auto;
  -webkit-box-shadow: 1px 1px 10px #333;
          box-shadow: 1px 1px 10px #333;
}

.coursesText {
  margin-top: 2em;
}

.coursesText .carousel {
  max-height: 38vh;
  opacity: .6;
  overflow: hidden;
}

.coursesText .carousel .carousel-inner {
  -webkit-box-shadow: 1px 1px 10px #000;
          box-shadow: 1px 1px 10px #000;
}

.coursesText .coursesText__p--parag {
  text-align: center;
  font-size: 0.9em;
  margin-bottom: 0;
  line-height: 1.8em;
}

@media screen and (min-width: 320px) {
  .coursesText .coursesText__p--parag {
    font-size: 1.2em;
    margin-top: 2em;
  }
}

@media screen and (min-width: 768px) {
  .coursesText .coursesText__p--parag {
    font-size: 1.2em;
    margin-top: 2em;
  }
}

@media screen and (min-width: 1200px) {
  .coursesText .coursesText__p--parag {
    font-size: 0.9em;
  }
}

/*--card cursos--*/
.cursos {
  margin-top: 7em;
  overflow-x: hidden;
}

.cursos > hr {
  color: #29274b;
  height: 3px;
  width: 90%;
  -webkit-box-shadow: 1px 1px 5px 1px #6F69AC;
          box-shadow: 1px 1px 5px 1px #6F69AC;
}

@media screen and (min-width: 320px) {
  .cursos > hr {
    margin-left: 1em;
    margin-right: 1em;
  }
}

@media screen and (min-width: 768px) {
  .cursos > hr {
    margin-left: 1em;
    margin-right: 1em;
  }
}

@media screen and (min-width: 1200px) {
  .cursos > hr {
    margin-left: 5em;
    margin-right: 5em;
  }
}

.cardCurso__img > img {
  -webkit-box-shadow: 1px 1px 10px #000;
          box-shadow: 1px 1px 10px #000;
  width: 100%;
}

.cardCurso__text {
  line-height: 1.8em;
}

@media screen and (min-width: 320px) {
  .cardCurso__text {
    font-size: 1.2em;
  }
}

@media screen and (min-width: 768px) {
  .cardCurso__text {
    font-size: 1.2em;
  }
}

@media screen and (min-width: 1200px) {
  .cardCurso__text {
    font-size: 0.9em;
  }
}

.btnCourse__text {
  font-size: 1.2em;
  text-align: center;
}

.btnCourse__btn {
  background: transparent;
  color: #333;
  border: 1px solid #6F69AC;
  -webkit-box-shadow: 1px 1px 5px #6F69AC;
          box-shadow: 1px 1px 5px #6F69AC;
  padding: .8em 3em;
}

.btnCourse__btn:hover {
  background: #615ba565;
  border: 1px solid transparent;
  color: #fff;
}

/*--comments--*/
.comments {
  background-image: url(../imagenes/swirl_pattern.png);
  height: 50%;
  margin-top: 7em;
  margin-bottom: 7em;
}

.comments .card-text {
  font-size: 0.9em;
}

.comments .fas {
  font-size: 4.5em;
}

.obras__p {
  text-align: center;
  font-size: 0.9em;
  line-height: 1.8em;
}

@media screen and (min-width: 320px) {
  .obras__p {
    font-size: 1.2em;
    margin: 3em 2em;
  }
}

@media screen and (min-width: 768px) {
  .obras__p {
    font-size: 1.2em;
    margin: 7em 5em;
  }
}

@media screen and (min-width: 1200px) {
  .obras__p {
    font-size: 0.9em;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
  }
}

.gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 320px) {
  .gallery {
    padding: 1em;
  }
}

@media screen and (min-width: 768px) {
  .gallery {
    padding: 3em;
  }
}

@media screen and (min-width: 1200px) {
  .gallery {
    padding: 4em;
  }
}

.contentPicture {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media screen and (min-width: 320px) {
  .contentPicture {
    -webkit-box-flex: 100%;
        -ms-flex: 100%;
            flex: 100%;
  }
}

@media screen and (min-width: 768px) {
  .contentPicture {
    -webkit-box-flex: 50%;
        -ms-flex: 50%;
            flex: 50%;
  }
}

@media screen and (min-width: 1200px) {
  .contentPicture {
    -webkit-box-flex: 25%;
        -ms-flex: 25%;
            flex: 25%;
  }
}

.picture {
  margin: 1em .5em;
  -webkit-box-shadow: 1px 1px 10px #333;
          box-shadow: 1px 1px 10px #333;
  position: relative;
  z-index: 40;
  overflow: hidden;
  line-height: 0;
}

.picture__img {
  width: 100%;
  height: auto;
  cursor: pointer;
  -webkit-transition: all .8s ease-in-out;
  transition: all .8s ease-in-out;
}

.picture__info {
  padding: 5em;
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  z-index: 80;
  width: 100%;
  height: 100%;
  background: rgba(51, 51, 51, 0.425);
  opacity: 0;
  -webkit-transition: all .5s ease-in;
  transition: all .5s ease-in;
  -webkit-transform: scale(0.1);
          transform: scale(0.1);
}

.picture__info .title {
  position: absolute;
  text-align: center;
  color: #fff;
  bottom: 33%;
  right: 5%;
}

.picture__info .tipo {
  font-size: small;
  position: absolute;
  color: #fff;
  bottom: 23%;
  right: 5%;
}

.picture:hover .picture__info {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.picture:hover .picture__img {
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
  -webkit-filter: blur(1.5px);
          filter: blur(1.5px);
}

.mainContact {
  font-family: "Open Sans", sans-serif;
  background-image: url(../imagenes/Cristina/pintura8.png);
  background-size: cover;
  background-attachment: fixed;
}

.contact__title--text {
  margin-top: 7em;
  color: rgba(240, 255, 255, 0.61);
  -webkit-animation: slide-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-left {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-30px);
    transform: translateX(-30px);
  }
}

@keyframes slide-left {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-30px);
    transform: translateX(-30px);
  }
}

@media screen and (min-width: 320px) {
  .contact__title--text {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .contact__title--text {
    display: block;
  }
}

@media screen and (min-width: 1200px) {
  .contact__title--text {
    display: block;
  }
}

@media screen and (min-width: 320px) {
  .contForm {
    margin-top: 3em;
  }
}

@media screen and (min-width: 768px) {
  .contForm {
    margin-top: 3em;
  }
}

.contForm__form, .contForm__aside {
  background: rgba(0, 0, 0, 0.241);
  padding: 1em;
  margin-top: 3em;
  margin-bottom: 5em;
  color: #fff;
}

@media screen and (min-width: 320px) {
  .contForm__form, .contForm__aside {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 768px) {
  .contForm__form, .contForm__aside {
    margin-bottom: 3em;
  }
}

@media screen and (min-width: 1200px) {
  .contForm__form, .contForm__aside {
    margin-bottom: 5em;
  }
}

.contForm__form--inp > input, .contForm__form--inp > textarea {
  font-family: "Open Sans", sans-serif;
  width: 95%;
  padding: 1em;
  margin: .5em;
  background: #333;
  border: none;
  border-bottom: 2px solid #6F69AC;
  resize: none;
  border-radius: .2em;
  -webkit-box-shadow: 1px 1px 10px #333;
          box-shadow: 1px 1px 10px #333;
  outline: none;
  color: #fff;
}

.contForm .formBottonReset {
  background: transparent;
  border: 1px solid #333;
  color: #fff;
  padding: .5em 5em;
  text-align: center;
  text-transform: uppercase;
  border-radius: .2em;
  cursor: pointer;
  -webkit-transition: .5s;
  transition: .5s;
}

.contForm .formBottonReset:hover {
  background: rgba(51, 51, 51, 0.61);
}

.contForm .formBotton {
  background: #6F69AC;
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
  width: 95%;
  padding: 1em;
  margin: .5em;
  -webkit-box-shadow: 1px 1px 10px #333;
          box-shadow: 1px 1px 10px #333;
  color: #fff;
  text-align: center;
  border: none;
  border-radius: .2em;
  cursor: pointer;
  -webkit-transition: .5s;
  transition: .5s;
}

.contForm .formBotton:hover {
  background: #8a85bd;
}

@media screen and (min-width: 320px) {
  .contForm__aside--title h3 {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .contForm__aside--title h3 {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .contForm__aside--title h3 {
    display: none;
  }
}

.socialNetwork {
  padding: 1em;
}

.socialNetwork > a {
  text-decoration: none;
  color: #fff;
}

.socialNetwork > a > i {
  font-size: 1.5em;
  padding-right: .5em;
  text-align: center;
}

.socialNetwork > a:hover {
  color: #ffeba1c7;
}

.bodyCurriculum {
  background-image: url(../imagenes/Cristina/pintura21.png);
  background-size: cover;
  font-family: "Open Sans", sans-serif;
  color: #fff;
}

.curriculum {
  background: #6f69acc4;
}

.curriculum__title {
  background-image: url(../imagenes/Cristina/pintura21.png);
  background-size: cover;
  background-position: bottom;
  width: 100%;
  height: 50vh;
  margin: 10em 1em 2em 1em;
  -webkit-box-shadow: 1px 1px 10px #333;
          box-shadow: 1px 1px 10px #333;
}

.curriculum__title--h2 {
  color: rgba(240, 255, 255, 0.61);
  overflow: hidden;
  -webkit-animation: slide-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-left {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
  }
}

@keyframes slide-left {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
  }
}

.footerIndex {
  margin-top: 2em;
}

.footer__netLink {
  list-style: none;
}

.footer__netLink .linkIcon__a {
  color: #333;
  -webkit-transition: .5s;
  transition: .5s;
  font-size: 2em;
  padding: .5em;
}

.footer__netLink .linkIcon__a:hover {
  color: #ffeba1c7;
}

.footerP {
  -webkit-box-shadow: 1px 1px 10px #000;
          box-shadow: 1px 1px 10px #000;
  background: #333;
}

.footerP .fooText {
  text-align: center;
  letter-spacing: 5px;
  font-size: x-small;
  text-transform: uppercase;
}

.footerP .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footerP .logo img {
  width: 9em;
  height: auto;
  padding: 1em;
}

.footerP .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  line-height: 1.8em;
  letter-spacing: 5px;
}

.footerP .info > span {
  font-size: .7em;
  font-weight: lighter;
}

.footerP .info > span > i {
  font-size: 1.2em;
  padding-right: .5em;
  text-align: center;
  margin-top: 2em;
}

.footerP .maps {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.footerP .maps > iframe {
  left: 0;
  top: 25%;
  height: 60%;
  width: 100%;
  position: absolute;
}

.footerP .infoContac .info > span {
  font-size: .7em;
  font-weight: lighter;
}

.footerP .infoContac .info > span > i {
  font-size: 1.2em;
  padding-right: .5em;
  text-align: center;
  margin-top: 2em;
}

.cont a {
  text-decoration: none;
}

.central {
  color: #333;
  margin-top: 20%;
}
/*# sourceMappingURL=main.css.map */