.bodyCurriculum {
    background-image: url(../imagenes/Cristina/pintura21.png);
    background-size: cover;
    font-family: $fontPrincipal;
    color:$white;
}

.curriculum {
    background: #6f69acc4;
    &__title {
        background-image: url(../imagenes/Cristina/pintura21.png);
        background-size: cover;
        background-position:bottom;
        width: 100%;
        height: 50vh;
        margin: 10em 1em 2em 1em;
        box-shadow: $shadowBox2;
        &--h2 {
            color:$colorh2;
            overflow: hidden;
            -webkit-animation: slide-bottom 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-bottom 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
            @-webkit-keyframes slide-bottom {
                0% {
                    -webkit-transform: translateY(0);
                        transform: translateY(0);
                }
                100% {
                    -webkit-transform: translateY(100px);
                        transform: translateY(100px);
                }
            }
            @keyframes slide-bottom {
                0% {
                    -webkit-transform: translateY(0);
                        transform: translateY(0);
                }
                100% {
                    -webkit-transform: translateY(100px);
                        transform: translateY(100px);
                }
            }
        }
    }
}
//imagen
.curriculum__text--img {
    width: 100%;
    height:auto;
    opacity: .5;
    margin: 1.5em 0;
}
//lista ul
.curriculumUl {
    font-size: 1.2em;
    background: rgba(0, 0, 0, 0.205);
    border-radius: .25em;
    &__list {
        list-style-position: inside;
        padding: .2em;
        text-align: justify;
    }
}