.body {
    font-family: $fontPrincipal;
    background-image: url(../imagenes/white_wall.png);
    color:$principal;  
    .header {
        font-size: 62.5%;
    }  
}
.bodyCurriculum {
    background-image: url(../imagenes/white_wall.png);
    font-family: $fontPrincipal;
    color: $principal;
    .header{
        font-size: 62.5%;
    }
}
.body404 {
    background-color: $principal;
    background-image: url(../imagenes/roto.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    
}
