@import "./mixins";

.coursesText {
    margin-top: $marginTextx;   
    
    .carousel {
        max-height: 38vh;    
        opacity: .6;
        overflow: hidden;

        .carousel-inner{
            box-shadow: $shadowBox1;
        }
    }
    .coursesText__p--parag {
        text-align: center;
        font-size: $font-text;
        margin-bottom: 0;
        line-height: $spaceLetters;

        @include breakpoint(mobile) {
            font-size: 1.2em;
            margin-top: $marginTextx;  
        }
        @include breakpoint(laptop) {
            font-size: 1.2em;
            margin-top: $marginTextx;  
        }
        @include breakpoint(desktop) {
            font-size: $font-text;
        }
    }
}

.cursos {
    margin: $marginTexty 0 $marginTexty 0;
    >hr {
        color: #29274b;
        height: 3px;
        width: 100%;
        margin-left: 5em;
        margin-right: 5em;
        box-shadow: 1px 1px 5px 1px $lila;
    }
}
.cardCurso {
    &__img {
        width: 25em;
        height: auto;
        box-shadow: $shadowBox1;
    }
}

/*--cards courses
.cardCurso{
    .card {
        max-width: 20em;
        height: 20em;
        margin: 3em 1em;
        padding: 1em;
        box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
        transition: 0.3s ease-in-out;
        background: $fondoLila;
        border: none;
    
        .imgContainer{
        height: 15em;
        top: -50px;
        left: 10px;
        z-index: 1;
        box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
        overflow: hidden;
    
        img {
            max-width: 100%;
            object-fit:cover;
            }
        } 
        
        &:hover {
            height: 35em;
        }  
    
        .content {
        margin-top: -110px;
        padding-top: 1em;
        text-align: center;
        color: #333;
        visibility: hidden;
        opacity: 0;
        pointer-events: none;
        transition: 0.3s ease-in-out;
        overflow: hidden;
        } 
    
        &:hover .content {
        visibility: visible;
        opacity: 1;
        margin-top: -5px;
        transition-delay: 0.3s;
        height: 40em;
        }
}
}
--*/

/*--comments--*/

.comments {
    background-image: url(../imagenes/swirl_pattern.png);
    height: 50%;
    margin-top: $marginTexty;
    margin-bottom: $marginTexty;
    .card-text {
        font-size: $font-text;
    }
    .fas {
        font-size: 4.5em;
    }
    
}














/*--comments--*/

.comments {
    background-image: url(../imagenes/swirl_pattern.png);
    height: 50%;
    margin-top: 5em;
    margin-bottom: 5em;
}

.fas {
    font-size: 4.5em;
}

.card-text {
    font-size: .9em;
}
