@import "./mixins";

.coursesText {
    margin-top: $marginTextx;   
    
    .carousel {
        max-height: 38vh;    
        opacity: .6;
        overflow: hidden;

        .carousel-inner{
            box-shadow: $shadowBox1;
        }
    }
    .coursesText__p--parag {
        text-align: center;
        font-size: $font-text;
        margin-bottom: 0;
        line-height: $spaceLetters;

        @include breakpoint(mobile) {
            font-size: 1.2em;
            margin-top: $marginTextx;  
        }
        @include breakpoint(laptop) {
            font-size: 1.2em;
            margin-top: $marginTextx;  
        }
        @include breakpoint(desktop) {
            font-size: $font-text;
        }
    }
}

/*--card cursos--*/

.cursos {
    margin-top: $marginTexty;
    >hr {
        color: #29274b;
        height: 3px;
        width: 90%;
        box-shadow: 1px 1px 5px 1px $lila;
        @include breakpoint(mobile) {
            margin-left: 1em;
            margin-right: 1em;
        }
        @include breakpoint(laptop) {
            margin-left: 1em;
            margin-right: 1em;
        }
        @include breakpoint(desktop) {
            margin-left: 5em;
            margin-right: 5em;
        }
    }
}
.cardCurso {
    &__img {
        >img {
            box-shadow: $shadowBox1;
        }
    }
    &__text {
        line-height: $spaceLetters;
        @include breakpoint(mobile) {
            font-size: 1.2em; 
        }
        @include breakpoint(laptop) {
            font-size: 1.2em; 
        }
        @include breakpoint(desktop) {
            font-size: $font-text;
        }
    }
}

.btnCourse {
    &__text {
        font-size: 1.2em;
        text-align: center;
    }
    &__btn {
        background: transparent;
        color: $principal;
        border: 1px solid $lila;
        box-shadow: 1px 1px 5px $lila;
        padding: .8em 3em;
        &:hover {
            background: $fondoLila;
            border: none;
            color: $white;
        }
    }
}
/*--comments--*/

.comments {
    background-image: url(../imagenes/swirl_pattern.png);
    height: 50%;
    margin-top: $marginTexty;
    margin-bottom: $marginTexty;
    .card-text {
        font-size: $font-text;
    }
    .fas {
        font-size: 4.5em;
    }
    
}


/*--comments--*/

.comments {
    background-image: url(../imagenes/swirl_pattern.png);
    height: 50%;
    margin-top: 5em;
    margin-bottom: 5em;
}

.fas {
    font-size: 4.5em;
}

.card-text {
    font-size: .9em;
}
