.body404 {
    background-color: $principal;
    background-image: url(../imagenes/roto.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    
}
.cont {
    a {
        text-decoration: none;
    }
}
.central {
    color: #333;
    margin-top: 20%;
}