.footerIndex {
    margin-top: $marginTextx;
} 

.footer__netLink {
    list-style: none;
    .linkIcon__a {
        color: $principal;
        transition: .5s;
        font-size: 2em;
        padding: .5em;
    }
    .linkIcon__a:hover {
        color: $yellow;
    }
}
.footerP{
    box-shadow: $shadowBox1;
    background: $principal;
    .fooText {
        text-align: center;
        letter-spacing: 5px;
        font-size: x-small;
        text-transform: uppercase;
    }
    .logo {
        display: flex;
        justify-content: center;
        img {
            width: 9em;
            height: auto;
            padding: 1em;
        }
    }
    .info {
        display: flex;
        justify-content: center;
        line-height: $spaceLetters;
        letter-spacing: 5px;
        >span {  
            font-size: .7em;
            font-weight: lighter;          
            > i {
                font-size: 1.2em;
                padding-right: .5em;
                text-align: center;
                margin-top: 2em;
            }
            
        }
        
    }
    .maps {
        overflow:hidden;
        padding-bottom:56.25%;
        position:relative;
        height:0;
        >iframe{
            left:0;
            top:25%;
            height:60%;
            width:100%;
            position:absolute;
        }
    }
    .infoContac {
        .info {
            >span {  
                font-size: .7em;
                font-weight: lighter;          
                > i {
                    font-size: 1.2em;
                    padding-right: .5em;
                    text-align: center;
                    margin-top: 2em;
                }
            }
        }
    }
}


