@import "./mixins";
.centrado {
    text-align: center;
    overflow-x: hidden;
}

/*--texto apertura--*/
.obras__p {
    text-align: center;
    font-size: $font-text;
    line-height: $spaceLetters;
    @include breakpoint(mobile) {
        font-size: 1.2em;
        margin: 3em $marginTextx;
    }
    @include breakpoint(laptop) {
        font-size: 1.2em;
        margin: $marginTexty 5em;
    }
    @include breakpoint(desktop) {
        font-size: $font-text;
        max-width: 1000px;
        margin-left: auto;
        margin-right: auto;
    }
}

/*--navegador interno--*/
#oleo:checked ~ #galeria > .contentPicture #acrilico, 
#oleo:checked ~ #galeria > .contentPicture #mixto, 
#oleo:checked ~ #galeria > .contentPicture #acuarela, 
#oleo:checked ~ #galeria > .contentPicture #tiza-pastel{
    display: none;
}

#acrilico:checked ~ #galeria > .contentPicture #oleo, 
#acrilico:checked ~ #galeria > .contentPicture #mixto, 
#acrilico:checked ~ #galeria > .contentPicture #acuarela, 
#acrilico:checked ~ #galeria > .contentPicture #tiza-pastel {
    display: none;
}

#mixto:checked ~ #galeria > .contentPicture #oleo, 
#mixto:checked ~ #galeria > .contentPicture #acrilico, 
#mixto:checked ~ #galeria > .contentPicture #acuarela, 
#mixto:checked ~ #galeria > .contentPicture #tiza-pastel {
    display: none; 
}
#acuarela-tiza:checked ~ #galeria > .contentPicture #oleo, 
#acuarela-tiza:checked ~ #galeria > .contentPicture #acrilico, 
#acuarela-tiza:checked ~ #galeria > .contentPicture #mixto {
    display: none;
}
#todo:checked ~ .gallery__todo, #oleo:checked ~ .gallery__oleo,
#acrilico:checked ~ .gallery__acrilico, #mixto:checked ~ .gallery__mixto,
#acuarela-tiza:checked ~ .gallery__acuarela-tiza {
    background: $fondoLila;
    border: 1px solid transparent;
    &:hover {
        @include breakpoint(mobile) {
            color: $principal;
        }
        @include breakpoint(laptop) {
            color: $principal;
        }
    }
}

.gallery__input {
    visibility: hidden;
    user-select: none;
}

.gallery__todo,
.gallery__oleo,
.gallery__acrilico,
.gallery__mixto,
.gallery__acuarela-tiza {
    @include btn;
    @include breakpoint(mobile) {
        padding: .5em 1em;
        margin: 0 .5em;
        display: inline-grid;
        display: grid;
    }
    @include breakpoint(laptop) {
        padding: .5em 1.5em;
        display: inline-block;  
    }
    @include breakpoint(desktop) {
        padding: .5em 1.5em;  
        display: inline-block;
    }
}

/*--galeria--*/
.gallery {    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
    @include breakpoint(mobile) {
        padding: 1em;
    }
    @include breakpoint(laptop) {
        padding: 3em;
    }
    @include breakpoint(desktop) {
        padding: 4em;
    }
} 
.contentPicture {
    flex-direction: column;
    flex-wrap: wrap;
    @include breakpoint(mobile) {
        flex: 100%;
    }
    @include breakpoint(laptop) {
        flex: 50%;
    }
    @include breakpoint(desktop) {
        flex: 25%;
    }
} 

/*--cuadros--*/ 
.picture {
    margin: 1em .5em;
    box-shadow: $shadowBox2;
    position: relative;
    z-index: 40;
    overflow: hidden;
    line-height: 0;
    &__img {
        width: 100%;
        height: auto;
        cursor: pointer;
        transition: all .8s ease-in-out;
    }   
    &__info {
        padding: 5em;
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        z-index: 80;
        width: 100%;
        height: 100%;
        background: rgba(51, 51, 51, 0.425);
        opacity: 0;
        transition: all .5s ease-in;
        transform: scale(.1);
        .title {
            position: absolute;
            text-align:center;
            color: #fff;
            bottom: 65px;
            right: 20px;
        }
        .tipo {
            font-size: small;
            position: absolute;
            color: #fff;
            bottom: 40px;
            right:20px;
        }
    }
    &:hover {
        .picture__info {
            opacity: 1;
            transform: scale(1);
        }
        .picture__img {
            transform: scale(1.15);
            filter: blur(1.5px);
        }
    }
}   




