@import "./mixins";
.body {
    overflow-x: hidden !important;
}
.firtSection {
    color: $principal; 
    &__p--text {
        line-height: $spaceLetters;
        @include breakpoint(mobile) {
            font-size: 1.2em;
        }
        @include breakpoint(laptop) {
            font-size: 1.2em;
        }
        @include breakpoint(desktop) {
            font-size: $font-text;
        }
    }
    
}
.imgFru {
    box-shadow: $shadowBox1;
}

//boton del index está en la sección de curso

