@import "./mixins";
.body {
    overflow-x: hidden;
}
.firtSection {
    color: $principal; 
    
}
.firtSection__p--text {
    line-height: $spaceLetters;
    @include breakpoint(mobile) {
        font-size: 1.2em;
    }
    @include breakpoint(laptop) {
        font-size: 1.2em;
    }
    @include breakpoint(desktop) {
        font-size: $font-text;
    }
}
.imgFru {
    box-shadow: $shadowBox1;
    object-fit:cover;
}

.btn {
    background: $lila;
    border: none;
    transition: .5s;
    margin-bottom: $marginTexty;
    &:hover {
        background:$shadowLila ;
    } 
}

