@mixin breakpoint($point) {
    @if $point == mobile {
        @media screen and (min-width: 320px){
            @content;
        }
    }
    @else if $point == laptop {
        @media screen and (min-width: 768px) {
            @content;
        }
    }
    @else if $point == desktop {
        @media screen and (min-width: 1200px) {
            @content;
        }
    }
}
@mixin btn {
    background: transparent;
    color: $principal;
    border: 1px solid $lila;
    box-shadow: 1px 1px 5px $lila;
    padding: .8em 3em;
    cursor: pointer;
    font-weight: bolder;
    border-radius: .25rem;
    user-select: none;
    margin: .25em;
    &:hover {
        background: $fondoLila;
        border: 1px solid transparent;
        color: $white;
    }
}