@import "./mixins";
.header {
    @include breakpoint(mobile) {
        background: #6f69acef;
    }
    @include breakpoint(laptop) {
        background: $fondoNav;
    }
    @include breakpoint(desktop) {
        background: $fondoNav;
    }
    .navbar-brand {
        color: $white;
        font-family: $familyLogo;
        transition: .5s;
        &:hover {
            color: $yellow;
        }
    }
    .navbar-toggler {
        background: $lila;
        transition: .5s;
        border: 1;
        &:hover {
            background: $shadowLila;
        }
    }
    .navbar-nav {
        font-size: 1.7em;
        transition: .5s;
        .nav-link{
            color: $white;
            &:hover{
                color: $yellow;
                transform: scale(1.1);
            }
        }
    }
}

