@import "./mixins";

.recommend__title {
    
    @include breakpoint(mobile) {
        margin-top: $marginTextx;  
    }
    @include breakpoint(laptop) {
        margin-top: $marginTextx;  
    }
    @include breakpoint(desktop) {
        margin: $marginTexty $marginLyR;
    }
}

.recommend__text {
    line-height: $spaceLetters;

    @include breakpoint(mobile) {
        font-size: 1.2em;
        margin-top: $marginTextx;
    }
    @include breakpoint(laptop) {
        font-size: 1.2em;
        margin-top: $marginTextx;  
    }
    @include breakpoint(desktop) {
        font-size: $font-text;
        margin: $marginTextx $marginLyR $marginTexty $marginLyR;
    }
}

.gallRecom__conten--img {
    max-width: 100%;
    box-shadow: $shadowBox2;
}
