@import "./mixins";
.recommend {
    @include breakpoint(mobile) {
        margin-top: $marginTextx;
        margin-bottom: $marginTextx;
    }
    @include breakpoint(laptop) {
        margin-top: $marginTextx;
        margin-bottom: $marginTextx;
    }
    @include breakpoint(desktop) {
        margin-top: $marginTexty;
        margin-bottom: $marginTexty;
    }
}
.recoText {
    line-height: $spaceLetters;
    padding: 1em;
    @include breakpoint(mobile) {
        font-size: 1.2em;
    }
    @include breakpoint(laptop) {
        font-size: 1.2em;
    }
    @include breakpoint(desktop) {
        font-size: $font-text;
        margin: 3em;
    }
}

.recoGalle__img {
    height: auto;
    box-shadow: $shadowBox2;
    @include breakpoint(mobile) {
        max-width: 100%;
    }
    @include breakpoint(laptop) {
        max-width: 100%;
    }
    @include breakpoint(desktop) {
        width: 60vw;
    }
}
.imgReco__expo {
    >img {
    max-width: 100%;
    height: auto;
    box-shadow: $shadowBox2;
    }
}