$principal: #333;
$lila: #6F69AC;
$yellow: #ffeba1c7;
$verde: #95dac12f;
$white: #fff;
$fondoLila: #615ba565;
$fondoNav: #6f69ac52;
$colorh2: rgba(240, 255, 255, 0.61);

$familyLogo: 'Allura', cursive;
$fontPrincipal: 'Open Sans', sans-serif;
$font-text: .9em;
$font-items: 1.5em;
$spaceLetters: 1.8em;
$marginTexty: 7em;
$marginTextx: 2em;
$marginLyR: 5em;

$shadowTitle: rgba(51, 51, 51, 0.426);
$shadowBox1: 1px 1px 10px #000;
$shadowLila: #8a85bd;
$shadowBox2: 1px 1px 10px #333;